<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebRTC stream </title>
        <script src="jquery.js"></script>
        <script src="peer.js"></script>
        <script src="socket.io.js"></script>
        <style>
            #left{
                width: 60%;
                float: left;
            }
            #right{
                width: 40%;
                float: left;
                display: none;
            }
            #videocall{
                display: none;
            }
            #ulUser li{
                cursor: pointer;
                background-color: burlywood;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="left">
                <input type="text" name="" placeholder="Username" id="txt_username">
                <button id="btn_signup">Sign up</button>
                <br /><br />
                <!-- <input type="text" name="" placeholder="Remote ID" id="remoteid">
                <button id="btn_call">Call</button> -->
                <br /><br />
                <div id="videocall">
                    <h3>Your ID : <span id="yourid"></span></h3>
                    <video id="localStream" width="500" controls></video>
                    <br /><br />
                    <video id="remoteStream" width="500" controls></video>
                </div>
            </div>
    
            <div id="right">
                <h4>Online User</h4>
                <ul id="ulUser">
                </ul>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>
